extends main

block main-content

  header.cards-title {{pages_title}}
  .row(ng-init="uploadTopPages();")
    .col-lg-3.col-sm-6.col-xs-12(ng-repeat="page in pages")
      div.card.pages
        header.card-header(class="{{styleColor}} lighten-3")
          a(href="site/id{{page.site_id}}/page/id{{page.id}}") {{page.title}}
        .card-body
          .params_wrap
            .params {{ctext.table_site}}:
            .value
              a(href="site/id{{page.site_id}}") {{page.site_name}}
          .params_wrap
            .params {{ctext.table_creator}}:
            .value
              a(href="/user/id{{page.user_id}}/profile") {{page.first_name + ' ' + page.second_name}}
          .params_wrap
            .params {{ctext.table_type}}:
            .value {{page.theme}}
          .params_wrap
            .params {{ctext.table_rate}}:
            .value(ng-if="page.rate") {{page.rate}}
            .value(ng-if="!page.rate") -
          .params_wrap
            .params {{ctext.table_update}}:
            .value {{page.update_date | date: "H:m dd.MM.yyyy"}}