extends main

block main-content

  div.row
    div.col-lg-6
      div.card
        header.card-header Top pages
          span.type Top 5
        div.table-content
          table.striped.responsive-table
            thead
              tr
                td(data-field="title") Title
                td(data-field="site") Site
                td(data-field="type") Type
                td(data-field="rate") Rate
                td(data-field="date") Date
            tbody
              tr
                td Фотоальбом
                td tnt.by
                td Развлечение
                td
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                td 25.05.2016
              tr
                td Фотоальбом
                td tnt.by
                td Развлечение
                td
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                td 25.05.2016
              tr
                td Фотоальбом
                td tnt.by
                td Развлечение
                td
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                td 25.05.2016
              tr
                td Фотоальбом
                td tnt.by
                td Развлечение
                td
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star

                td 25.05.2016
              tr
                td Фотоальбом
                td tnt.by
                td Развлечение
                td
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                td 25.05.2016
    div.col-lg-6
      div.card
        header.card-header Last pages
          span.type Top 5
        div.table-content
          table.striped.responsive-table
            thead
              tr
                td(data-field="title") Title
                td(data-field="site") Site
                td(data-field="type") Type
                td(data-field="rate") Rate
                td(data-field="date") Date
            tbody
              tr
                td Фотоальбом
                td tnt.by
                td Развлечение
                td
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                td 25.05.2016
              tr
                td Фотоальбом
                td tnt.by
                td Развлечение
                td
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                td 25.05.2016
              tr
                td Фотоальбом
                td tnt.by
                td Развлечение
                td
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                td 25.05.2016
              tr
                td Фотоальбом
                td tnt.by
                td Развлечение
                td
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                td 25.05.2016
              tr
                td Фотоальбом
                td tnt.by
                td Развлечение
                td
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                  .fa.fa-star
                td 25.05.2016