extends layout

block main-content-wrap

    div.wrapper

        header.main-header.z-depth-1#cont(class="{{styleColor}}")
            div.right-items
                a.dropdown-button.hide-on-small-only(href="#", data-activates="dropdown-colors") {{ctext.styles}}
                    i.fa.fa-caret-down(aria-hidden="true")
                a.dropdown-button.hide-on-med-and-up(href="#", data-activates="dropdown-colors")
                    i.fa.fa-adjust(aria-hidden="true")
                a.dropdown-button.hide-on-small-only(href="#", data-activates="dropdown-langs") {{ctext.lang}}
                    i.fa.fa-caret-down(aria-hidden="true")
                a.dropdown-button.hide-on-med-and-up(href="#", data-activates="dropdown-langs")
                    i.fa.fa-language(aria-hidden="true")
                a(href="javascript:;" ng-click="ShowSearchFiels();")
                    i.fa.fa-search(aria-hidden="true")

            div.left-items
                a(href="#", ng-click="showMenu()")
                    i.fa.fa-bars(aria-hidden="true")
            div.logo
                a.brand-logo.center(href="/") BuildMe

            .search_wrap.hidden
                input#search-field(type="search", placeholder="Search...", required, ng-keyup="SerchInformation($event)")

            ul#dropdown-colors.dropdown-content
                li
                    a(href="#", ng-click="styleColor = 'red'; newColor();") {{ctext.style_red}}
                li
                    a(href="#", ng-click="styleColor = 'blue'; newColor()") {{ctext.style_blue}}
                li
                    a(href="#", ng-click="styleColor = 'green'; newColor()") {{ctext.style_green}}
            ul#dropdown-langs.dropdown-content
                li
                    a(href="#", ng-click="lang = 'rus';") {{ctext.lang_rus}}
                li
                    a(href="#", ng-click="lang = 'eng';") {{ctext.lang_eng}}

        div.content_wrap.content-color.lighten-5(class="{{styleColor}}")
            div.main-menu(ng-controller="mainMenuController as menu")
                div.about-user--wrap(style="background-image: url('/img/user-profile-bg.png')")
                    img.about-user--image(ng-src="{{user.avatar}}")
                    div.about-user--general-inf(ng-hide="user.is_auth") SignIn
                        div.social-wrap
                            a(href="javascript:", class="{{styleColor}}-text text-lighten-5", ng-click="authType = 'vk'; auth();")
                                i.fa.fa-vk
                            a(href="javascript:", class="{{styleColor}}-text text-lighten-5" ng-click="authType = 'facebook'; auth();")
                                i.fa.fa-facebook
                            a(href="javascript:", class="{{styleColor}}-text text-lighten-5" ng-click="authType = 'twitter'; auth();")
                                i.fa.fa-twitter
                            a(href="javascript:", class="{{styleColor}}-text text-lighten-5" ng-click="authType = 'github'; auth();")
                                i.fa.fa-github
                    div.about-user--general-inf(ng-show="user.is_auth", ng-click="showUserMenu()")
                        div(ng-bind="user.name")
                        div.menu-open
                            a(href="javascript:", class="{{styleColor}}-text text-lighten-5")
                                i.fa.fa-caret-down

                div.menu-list.about-user--menu(ng-show="user.is_auth")
                    ul
                        li
                            a(href="/user/id{{user.id}}/profile")
                                div.i-wrap
                                    i.fa.fa-user
                                | {{ctext.user_profile}}
                        li(ng-if="user.rang == 'admin'")
                            a(href="/user/id{{user.id}}/dashboard")
                                div.i-wrap
                                    i.fa.fa-tachometer
                                | Dashboard
                        li
                            a(href="javascript:", ng-click="userActions.exit()")
                                div.i-wrap
                                    i.fa.fa-sign-out
                                | {{ctext.user_exit}}

                div.menu-list
                    ul
                        li
                            a(href="javascript:;" ng-click="uploadTopPages();", class="menu-list_linkfse")
                                div.i-wrap
                                    i.fa.fa-star
                                | {{ctext.top_pages}}
                        li
                            a(href="javascript:;" ng-click="uploadLastPages();", class="menu-list_link")
                                div.i-wrap
                                    i.fa.fa-pencil-square-o
                                | {{ctext.last_pages}}
                        li
                            a(href="#", class="menu-list_link")
                                div.i-wrap
                                    i.fa.fa-tags
                                | {{ctext.tags_cloud}}
            div.main-content
                block main-content

    .pop-up.hidden
        .pop-up--search-wrap.card
            header.pop-up--search-header Search results
                a(href="javascript:;", ng-click="ShowPopUp(false)")
                    i.fa.fa-times
            section.pop-up--search-result
                .result-type-wrap(ng-repeat="(label, results) in searchResult")
                    header.result-type-header(ng-if="(results.length > 0) && label == 'users'") Users
                    .result-type-content(ng-repeat="result in results", ng-if="label == 'users'")
                        .result
                            a(href="/user/id{{result.user_id}}/profile").truncate {{result.val}}
                        .link http://manbuildme.herokuapp.com/user/id{{result.user_id}}/profile
                    header.result-type-header(ng-if="(results.length > 0) && label == 'sites'") Sites
                    .result-type-content(ng-repeat="result in results", ng-if="label == 'sites'")
                        .result
                            a(href="/site/id{{result.site_id}}").truncate {{result.val}}
                        .link http://manbuildme.herokuapp.com/site/id{{result.site_id}}
                    header.result-type-header(ng-if="(results.length > 0) && label == 'pages'") Pages
                    .result-type-content(ng-repeat="result in results", ng-if="label == 'pages'")
                        .result
                            a(href="/site/id{{result.site_id}}/page/id{{result.page_id}}").truncate {{result.val}}
                        .link http://manbuildme.herokuapp.com/site/id{{result.site_id}}/page/id{{result.page_id}}
                    header.result-type-header(ng-if="(results.length > 0) && label == 'comments'") Comments
                    .result-type-content(ng-repeat="result in results", ng-if="label == 'comments'")
                        .result
                            a(href="/site/id{{result.site_id}}/page/id{{result.page_id}}").truncate {{result.val}}
                        .link http://manbuildme.herokuapp.com/site/id{{result.site_id}}/page/id{{result.page_id}}
