@import "bourbon"
@import "libs"
@import "vars"
@import "base"

html, body
  height: 100%
  width: 100%

.wrapper
  display: table
  height: 100%
  width: 100%
  background-image: url('/img/bg.png')

.row
  padding: 0 15px

.dropdown-content
  li
    a:hover
      text-decoration: none

label
  left: 0

.main-header
  height: 56px
  position: fixed
  width: 100%
  top: 0
  left: 0
  text-align: center
  z-index: 999
  a
    color: #FFF
    padding: 15px
    font-size: em(20px)
    text-transform: uppercase
    line-height: em(45px)
    i
      font-size: em(20px)
      &.fa-caret-down
        padding-left: 10px
    &:hover, &:active, &:focus
      background-color: rgba(#000, .1)
      text-decoration: none

  & > div
    display: inline-block
  .right-items
    position: absolute
    right: 0
  .left-items
    position: absolute
    left: 0
  .logo
    a
      text-transform: none
      font-size: em(36px)
      line-height: em(24px)
      &:hover
        background-color: rgba(#000, 0)

.content_wrap
  display: table-row
  height: 100%
  .main-menu
    background-color: #fff
    border-right: 1px solid rgba(#000, .1)
    width: 300px
    position: fixed
    top: 56px
    height: 100%
    transition: .5s ease all
    z-index: 888
    .about-user
      &--wrap
        height: 165px
        background-size: cover
        position: relative
      &--image
        height: 80px
        width: 80px
        border-radius: 10em
        position: absolute
        left: 15px
        top: 15px
        border: 3px solid #91AC8F
        background-size: cover
      &--general-inf
        cursor: pointer
        display: block
        position: absolute
        bottom: 0
        color: #FFF
        background-color: rgba(#000, .5)
        width: 100%
        padding: 5px 15px
        line-height: em(31px)
        .social-wrap, .menu-open
          position: absolute
          right: 15px
          top: 5px
          a
            font-size: em(28px)
            i
              margin-left: 10px
            &:hover
              color: #FFF!important
        .menu-open
          a
            font-size: em(20px)
      &--menu
        display: none
    .menu-list
      li
        a
          display: block
          padding: 5px 10px
          line-height: em(35px)
          cursor: pointer
          color: #333
          .i-wrap
            display: inline-block
            text-align: center
            width: 50px
            font-size: em(24px)
          &:hover
            background-color: rgba(#000, .05)
            text-decoration: none
          &.active
            background-color: rgba(#000, .05)
  .main-content
    margin-top: 56px
    margin-left: 300px
    transition: .5s ease all
    .cards-title
      padding: 25px
      font-size: em(24px)
    .card
      padding: 25px
      header.card-header
        position: relative
        font-size: em(24px)
        text-transform: uppercase
        margin-bottom: 25px
        a
          color: rgba(#000, .8)
          display: block
          padding: 15px
          border-top: 3px solid rgba(#000, 0)
          &:hover
            text-decoration: none
            border-top: 3px solid rgba(#000, .5)
          &.add-btn
            padding: 0
            border-top: none
        .type
          position: absolute
          right: 0
          @extend .red-text
      .card-body
        padding: 15px
        .params_wrap
          padding: 5px 0
          & > div
            display: inline-block
          .params
            width: 35%
      &.pages
        padding: 0
        header.card-header
          margin-bottom: 0

  .user-page--wrap
    .about-user
      &--wrap
        text-align: center
      &--header
        text-align: left
      &--image
        width: 250px
        height: 250px
        border-radius: 10em
      &--main-inf
        margin: 30px 0
        font-size: em(22px)
      &--medals
        padding: 15px 0
        .medal
          width: 45px
          margin: 0 5px
      &--settings
        .stats_wrap
          text-align: left
          margin: 10px 0
          & > div
            display: inline-block
            width: 49%
          .start_value
            text-align: right
            font-weight: bold
    .table-content
      .sort
        font-size: em(20px)
        margin-left: 10px
        color: #333
      .actions-wrap
        a
          font-size: em(18px)
          margin-right: 5px
          > .fa-times
            font-size: em(19px)
    header
      .add-btn
        float: right
        i
          font-size: em(14px)
  .add-site-page--wrap
    .add-site
      &--content
        .chips
          margin-top: 25px
        .layouts
          span
            margin-right: 30px

.site
  &--wrap
  &--header
    width: 100%
    position: fixed
    @extend .blue
    height: 65px
    z-index: 999
    a
      color: #FFF
    .container
      position: relative
    .logo_title
      font-size: em(28px)
      line-height: em(35px)
      &:hover
        text-decoration: none
    .menu-bars
      display: none
    .menu-pagination
      position: absolute
      right: 0
      top: 0
      li
        float: left
        a
          line-height: em(30px)
          padding: 24px 15px
          &:hover
            background-color: rgba(#000, .1)
            text-decoration: none
  &--content
    .vertical-menu
      li
        a
          display: block
          padding: 15px
          border-left: 3px solid #FFF
          &:hover
            text-decoration: none
            border-left: 3px solid #2196f3
          &.current
            border-left: 3px solid #2196f3
      &--wrap
        position: fixed
        top: 65px
        width: 300px
        padding: 15px
      &--title
        text-transform: uppercase
        font-size: em(24px)
        @extend .blue-text
    .blocks, .instruments
      margin-top: 50px
      &.l-m
        margin-left: 315px
    .instruments
      ~ .blocks
        margin-top: 0

.page
  &--wrap
    padding: 15px 0
  &--header
    font-size: em(24px)
    @extend .blue-text
    .edit
      float: right
      color: #666
      &:hover
        color: #333
  &--content
    .images--wrap
      text-align: center
      margin: 15px 0
      img
        width: 100%
    .comments
      &--wrap
      &--header
        font-size: em(24px)
        border-bottom: 3px solid #2196F3
        padding: 15px 0
      &--comment
        @extend .blue, .lighten-5
        padding: 15px
        margin: 15px 0
        .author
          text-decoration: underline
          margin-bottom: 5px
          position: relative
          .delete-ico
            @extend .red-text
            position: absolute
            right: 0px
            top: 0
        .msg
          text-indent: 15px
      &--new_comment
        position: relative
        padding: 15px
        .title
          font-size: em(18px)
          @extend .blue-text
          font-weight: bold
        .input-field
          margin-right: 150px
        .send-btn
          position: absolute
          right: 25px
          bottom: 40px
          &:hover, &:active, &:focus
            text-decoration: none
            color: #FFF
  &--footer
    .star--wrap
      text-align: center
      padding: 15px 0
      .star
        text-align: center
        font-size: em(24px)
        width: 50px
        display: inline-block
        border-bottom: 1px solid #fff
        padding-bottom: 5px
        &:hover, &:focus, &:active
          text-decoration: none
          color: #2196F3

.instrupents
  &--wrap
    text-align: center

  &--icon
    display: inline-block
    width: 100px
    a
      @extend .blue
      display: block
      color: #FFF
      font-size: em(50px)
      line-height: em(32px)

.node
  margin-bottom: 15px
  &--header
    font-size: em(22px)
    text-transform: uppercase
    margin-bottom: 15px
  &--comments--wrap
    .comment
      position: relative
      padding: 15px
      @extend .blue, .lighten-5
      .author
        margin-bottom: 10px
      .delete
        position: absolute
        right: 15px
        top: 15px
        @extend .red-text
        &:hover
          opacity: .8
    .msg
        text-indent: 15px
  &--image--wrap
    position: relative
    .images--wrap
      text-align: center
      > .image
        margin: 0 5px
        display: inline-block
      .add-btn
        text-align: center
        margin: 15px

.section--header
  font-size: em(24px)
  text-transform: uppercase
  text-align: center
  margin: 30px 0
  & ~ .panel-body
    border: 1px dotted #2196F3
    padding: 15px

.button_wrap
  text-align: center
  padding: 15px
.dndPlaceholder
  margin: 30px 0 60px 0
  text-align: center
  @extend .blue-text
  padding: 30px
  border: 3px dotted #2196F3

.simpleDemo ul[dnd-list],
.simpleDemo ul[dnd-list] > li
  position: relative

.simpleDemo ul[dnd-list]
  min-height: 42px
  padding-left: 0px

.simpleDemo ul[dnd-list] .dndDraggingSource
  display: none

.simpleDemo ul[dnd-list] .dndPlaceholder
  display: block
  background-color: #ddd
  min-height: 42px

.simpleDemo ul[dnd-list] li
  background-color: #fff
  border: 1px solid #ddd
  border-top-right-radius: 4px
  border-top-left-radius: 4px
  display: block
  padding: 10px 15px
  margin-bottom: -1px

.simpleDemo ul[dnd-list] li.selected
  background-color: #dff0d8
  color: #3c763d




@import "media"